<a id="home"></a>
<section id="home-page" data-magellan-destination="home">
	<div id="main-title-container">
		<div id="main-title-text">
			<h1>Sepi + Ryan</h1>
			<h2>08&middot;03&middot;2013</h2>
			<h3>Costa Mesa, CA</h3>
		</div>
	</div>
	
	<script>
		// Turn parallax scrolling off for iOS devices
		var iOS = false,
		p = navigator.platform;

		if (p === 'iPad' || p === 'iPhone' || p === 'iPod') {
			iOS = true;
		}


		// Scroll effect on Home Page box
		if (iOS == false) {
			var div = $('#main-title-text');
			$(window).on('scroll', function () {
				var st = $(this).scrollTop();
				div.css({ 'opacity': (1 - st / 400) });
				div.css({ 'top': (st * 1.3) });
			});
		}
	</script>

	<div class="row navigation" data-magellan-expedition="fixed">
        <nav class="top-bar" id="main-menu" style="">
            <ul>
                <!-- Title Area -->
                <li class="name">
                    <h1></h1>
                </li>
                <li class="toggle-topbar"><a href="#"></a></li>
            </ul>

            <section class="nav-center">
                <ul class="nav-bar center">
                    <li data-magellan-arrival="home" class="nav-item active">
                        <a href="#home" class="scroll">Home</a>
                    </li>
                    <li data-magellan-arrival="our-story" class="nav-item">
                        <a href="#our-story" class="scroll">Our Story</a>
                    </li>
                    <li data-magellan-arrival="wedding" class="nav-item">
                        <a href="#wedding" class="scroll">Wedding</a>
                    </li>
                    <li data-magellan-arrival="visitors" class="nav-item">
                        <a href="#visitors" class="scroll">Hotels</a>
                    </li>
                    <li data-magellan-arrival="rsvp" class="nav-item">
                        <a href="#rsvp" class="scroll">RSVP</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</section>