<a id="home"></a>
<section id="home-page" data-magellan-destination="home">
    <div id="main-title-container">
        <div id="main-title-text">
            
			<h1>Sepi + Ryan</h1>
	        <h2>August 3, 2013</h2>
			<h3>Costa Mesa, CA</h3>
        </div>
    </div>

    <div class="row navigation" data-magellan-expedition="fixed">
        <nav class="top-bar" id="main-menu" style="">
            <ul>
                <!-- Title Area -->
                <li class="name">
                    <h1></h1>
                </li>
                <li class="toggle-topbar"><a href="#"></a></li>
            </ul>

            <section class="nav-center">
                <ul class="nav-bar center">
                    <li data-magellan-arrival="home" class="nav-item active">
                        <a href="#home" class="scroll">Home</a>
                    </li>
                    <li data-magellan-arrival="our-story" class="nav-item">
                        <a href="#our-story" class="scroll">Our Story</a>
                    </li>
                    <li data-magellan-arrival="wedding" class="nav-item">
                        <a href="#wedding" class="scroll">Wedding</a>
                    </li>
                    <li data-magellan-arrival="visitors" class="nav-item">
                        <a href="#visitors" class="scroll">Visitors</a>
                    </li>
                    <li data-magellan-arrival="rsvp" class="nav-item">
                        <a href="#rsvp" class="scroll">RSVP</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</section>