<!-- Our Story -->
<a id="our-story"></a>
<section id="our-story-page" class="row" data-magellan-destination='our-story'>
	<div class="twelve columns page-wrapper">
		<div class="page">
			<img alt="story" id="story-photo" src="@Url.Content("~/Content/img/coachella.jpg")" />
			<h2 class="align-center">Our Story
			</h2>
			<br />
			<img alt="divider" class="page-divider" src="@Url.Content("~/Content/img/small_heart.png")" />
			<br />

			<div class="six columns">
				<p>
					Sepi was born in Tehran, Iran and mostly grew up in Irvine, CA. Ryan was born in Brea, CA and grew up in Laguna Niguel,
					where we both now reside. We spent our lives near each other but it took OkCupid.com to finally bring us together. Sepi
					awkwardly messaged Ryan first and we exchanged dorky conversation for about two weeks. For our first &quot;meeting&quot;
					we chose Yardhouse, which we both despise. We finally got it right a few days later, when we went on our first real
					date – dinner and a <a href="http://www.youtube.com/watch?v=UIkMeaAfIRw" target="_blank">Yo La Tengo</a> concert. That is when the sparks really started to fly. Fast forward a few years later&hellip;
					Ryan plans a beautiful surprise proposal on the cliffs surrounding the Montage in Laguna Beach. As soon as Ryan got on
					one knee, Sepi excitedly said yes interrupting his thoughtfully prepared speech.
				</p>
				<p>
					If you are reading this, we want to thank you for being a part of the celebration of our love for each other. Now, let's party!
				</p>
				<p>
					<strong>Things we love...</strong><br />
					Each other ;) <a href="http://www.youtube.com/watch?v=sxVvKb0fGAY" target="_blank">BACON</a>! Indie music, fine dining,
					making sarcastic reinterpretations of commercials, going to <a href="http://coachella.com/" target="_blank">concerts</a>, our adorable baby nephew, hiking (when Ryan isn’t
					recovering from knee surgery), traveling, watching <a href="http://www.foodnetwork.com/chopped/index.html?vty=/chopped/" target="_blank">Chopped</a>, time with our families, cooking together, half of us loves
					to ski, binge watching TV series, our mid-century-modern-work-in-progress-home, and did we say bacon?
				</p>
			</div>
		</div>
		<!-- end page-->
	</div>
	<!-- end page-wrapper -->
</section>
