<a id="registry"></a>
<section id="visitors-page" class="row" data-magellan-destination='registry'>

	<div class="page-wrapper">

		<div class="page-wrapper">

			<div class="page">

				<h2 class="align-center">Registries
				</h2>
				<br />
				<img alt="divider" class="page-divider" src="@Url.Content("~/Content/img/small_heart.png")" />
				<br />

				<div class="large-12 columns" style="text-align: center;">

					<p>
						<a href="http://www1.macys.com/registry/wedding/guest/?registryId=2042707">
							<img src="@Url.Content("~/Content/img/macys.png")" /></a>
					</p>
					<p>&nbsp;</p>
					<p>
						<a href="http://www.crateandbarrel.com/Gift-Registry/Sepideh-Ansar-and-Ryan-Mcdonnell/r5035758">
							<img src="@Url.Content("~/Content/img/cratelogo.png")" /></a>
					</p>
					
					<p>As some of you know, we are currently remodeling our mid-century home in Laguna Niguel. Gift certicates to the following stores would be very helpful.</p>
					<ul>
						<li><a href="http://www.ikea.com/">IKEA</a></li>
						<li><a href="http://www.roomandboard.com/">Room &amp; Board</a></li>
						<li>...cash is always welcome, too. ;-)</li>
					</ul>

				</div>

			</div>

		</div>
</section>
