<a id="rsvp"></a>
<section class="row" id="rsvp-page" data-magellan-destination='rsvp'>

    <div class="page-wrapper">

        <div class="page">
            <h2 class="align-center">RSVP
            </h2>
            <img alt="divider" class="page-divider" src="@Url.Content("~/Content/img/small_heart.png")" />
            <br />
            <p>
                <em>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>
            </p>

            <form id="contact-form">
                <label>
                    Name:
                </label>
                <input type="text" id="form-name" placeholder="Name" />
                <label>
                    Phone:
                </label>
                <input type="text" class="twelve" id="form-number" placeholder="Contact Number" />
                <div id="error-notify">
                    <div class="alert-box alert">Name and number are both required</div>
                </div>
                <textarea id="form-msg" placeholder="Message">
              </textarea>

                <div class="row">

                    <div class="seven columns">
                        <label for="radio1">
                            <input name="radios" type="radio" id="radio1" checked>
                            <span class="custom radio"></span>
                            I / We will be attending
                        </label>
                        <label for="radio2">
                            <input name="radios" type="radio" id="radio2">
                            <span class="custom radio checked"></span>
                            Unfortunately I / We are unable to attend
                        </label>

                    </div>

                    <div class="five columns">
                        <label for="checkbox1">
                            <input type="checkbox" id="checkbox1" checked>
                            <span class="custom checkbox"></span>
                            No dietary requirements
                        </label>
                        <label for="checkbox2">
                            <input type="checkbox" id="checkbox2">
                            <span class="custom checkbox"></span>
                            Vegetarian
                        </label>
                        <label for="checkbox3">
                            <input type="checkbox" id="checkbox3">
                            Gluten Free
                        </label>
                    </div>
                </div>

                <input class="form-button" id="submit-form" type="submit" value="Send">
            </form>
            <div id="notify">
                <div class="alert-box success">Thankyou, your RSVP has been sent!</div>
            </div>



        </div>

    </div>

</section>
