<a id="visitors"></a>
<section id="visitors-page" class="row" data-magellan-destination='visitors'>

	<div class="page-wrapper">

		<div class="page-wrapper">

			<div class="page">

				<h2 class="align-center">Nearby Hotels
				</h2>
				<br />
				<img alt="divider" class="page-divider" src="@Url.Content("~/Content/img/small_heart.png")" />
				<br />

				<div class="six columns">
					
					<h3>Crowne Plaza <small>Costa Mesa, CA</small></h3>
					<p>
						<em>Sepi and Ryan will be staying here the night of the wedding.<br />It's the nicest hotel closest to the venue.</em><br/>
						<strong>Distance to venue:</strong> 5 min; 3 miles <a href="http://goo.gl/maps/XFPQ7">Get Directions</a><br />
						<strong>How to book:</strong> We have a group rate reserved for this hotel of $109/night that includes free parking
						(normally $10/day). There is a restaurant onsite, but no free breakfast. Rooms are standard king or two queens.
						Call (714) 557-3000 to book and ask for the ANSAR-MCDONNELL group rate, or book online
						<a href="http://www.crowneplaza.com/redirect?path=hd&brandCode=cp&localeCode=en&regionCode=1&hotelCode=laxcm&_PMID=99801505&GPC=AMD&blpu=true">here</a>. You must book by July 19th to get the group rate.
					</p>
					
					<h3>Residence Inn (Marriott) <small>Irvine, CA</small></h3>
					<p>
						<strong>Distance to venue:</strong> 8 min; 5.9 miles <a href="http://goo.gl/maps/6qhnc">Get Directions</a><br />
						<strong>How to book:</strong> We have a group rate reserved for this hotel of $259/night. These are studio rooms
						with full kitchens and complimentary breakfast buffet and parking. Call (949) 261-2020 to book and ask for
						the ANSAR- MCDONNELL block or book online <a href="http://www.marriott.com/hotels/travel/SNAIV?groupCode=amwamwa&app=resvlink&fromDate=8/2/13&toDate=8/4/13&stop_mobi=yes">here</a>. You must book by July 2nd to get
						the group rate.
					</p>
					<p>
						There are many more hotels in the area if these do not work for you. We recommend using <a href="http://kayak.com">kayak.com</a> to search for other options.
					</p>

				</div>

			</div>

		</div>
</section>
