<!-- Wedding -->
<a id="wedding"></a>
<section id="wedding-page" class="row" data-magellan-destination='wedding'>


    <div class="twelve columns wedding-wrapper">

        <div id="wedding-details">
            <h2>The wedding will be held at
            </h2>
            <h1>Carlton Gardens
            </h1>
            <h1>21 Nicholson St
            </h1>
            <h2>on the 21st July 2013
            </h2>
            <h3>11:00 am - 1:00 pm
            </h3>
            <a href="#" data-reveal-id="mapModal">
                <h3>click for map
                </h3>
            </a>

        </div>

    </div>

    <div id="mapModal" class="reveal-modal hidden">
        <div style="width: 425px; height: 350px">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=carlton%2Bgardens&ie=UTF8&z=17&t=m&iwloc=near&output=embed"></iframe>
            <br>
            <table width="425" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=carlton%2Bgardens&ie=UTF8&z=17&t=m&iwloc=near">View Larger Map</a></small></td>
                    <td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td>
                </tr>
            </table>
        </div>
    </div>
</section>
